* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background: #050517;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 8%;
  background: #000;
}

nav button {
  padding: 6px 12px;
  cursor: pointer;
}

/* SECTIONS */
.payment-input,
.payment-qr {
  padding: 100px 20px;
}

h1 {
  font-size: 40px;
}

p {
  opacity: 0.7;
  margin-top: 10px;
}

/* INPUT BOX */
.payment-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.payment-box input,
.payment-box button {
  padding: 12px;
  margin: 5px;
  width: 220px;
  border: none;
}

/* QR */
.wallet-box {
  margin: 30px auto;
  padding: 20px;
  width: 300px;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
}

.qr {
  width: 180px;
  margin: 15px 0;
}

#walletAddress {
  font-size: 12px;
  word-break: break-all;
}

/* BUTTON */
.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .payment-box input,
  .payment-box button {
    width: 90%;
  }

  .wallet-box {
    width: 90%;
  }

  .qr {
    width: 140px;
  }
}