*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter;
background:#050028;
color:white;
overflow-x:hidden;
}



/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 80px;
}

nav a{
margin:0 20px;
text-decoration:none;
color:#c8c8ff;
font-size:15px;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-weight:600;
}

.logo-dot{
width:2px;
height:2px;
border-radius:10%;
background:linear-gradient(45deg,#ff3cac,#784ba0);
}

.waitlist{
background:transparent;
border:1px solid white;
padding:8px 16px;
color:white;
cursor:pointer;
}



/* HERO LAYOUT */

.hero{
height:100vh;
display:grid;
grid-template-columns:220px 1fr 600px;
}



/* LEFT PANEL */

.panel-left{
display:flex;
align-items:center;
justify-content:center;
}

.timeline{
text-align:center;
}

.step{
font-size:36px;
font-weight:700;
}

.step span{
font-size:16px;
color:#888;
margin-left:6px;
}

.lines div{
height:6px;
width:40px;
background:#444;
margin:10px auto;
}

.lines div:first-child{
background:#8b5cf6;
}



/* CENTER PANEL */

.panel-center{
display:flex;
align-items:center;
padding-left:40px;

background:linear-gradient(
90deg,
rgba(255,255,255,0.02),
rgba(255,255,255,0.06),
rgba(255,255,255,0.02)
);
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:72px;
line-height:1.1;
font-weight:700;
}

.hero-text p{
margin-top:30px;
font-size:18px;
color:#a0a0d0;
}

.primary-btn{
margin-top:30px;
padding:14px 30px;
border:none;
color:white;
font-size:16px;

background:linear-gradient(
90deg,
#7c3aed,
#c026d3
);

cursor:pointer;
}



/* RIGHT PANEL */

.panel-right{
display:flex;
align-items:center;
justify-content:center;
}

.sphere{
width:420px;
animation:float 6s ease-in-out infinite;
}



@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-20px)}
100%{transform:translateY(0)}

}