* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  position: fixed;
  width: 100%;
  background: #000;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 30px;
}

/* NAV LINKS */
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  cursor: pointer;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 8% 60px;
  flex-wrap: wrap;
}

.hero-left {
  max-width: 500px;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: #00ffcc;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #00ffcc;
}

.secondary {
  background: transparent;
  border: 1px solid #00ffcc;
  color: #00ffcc;
}

/* HERO IMAGE */
.hero-right {
  width: 100%;
  max-width: 400px;
}

.robot-img {
  width: 100%;
}

/* SERVICES */
.services {
  padding: 80px 8%;
  text-align: center;
}

.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  padding: 20px;
  background: #111;
  border-radius: 10px;
}

/* PAYMENT */
.payment-home {
  padding: 80px 8%;
  text-align: center;
}

.payment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.payment-box input,
.payment-box button {
  padding: 12px;
  margin: 5px;
  width: 200px;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #000;
}

/* MOBILE */
@media (max-width: 768px) {

  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    display: none;
    align-items: center;
  }

  nav ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }
}